page-search {

	.bteween {
		display: inline-block;
	    vertical-align: top;
	    text-align: center;
	    padding: 0 5.4%;
	    line-height: 29px;
	}

	ion-select, select-alertless {
		max-width: 45%;
	}

	.adv-search {
		background: transparent;
	}

}
